<div class="grid-100 row controls">
  <div class="grid-30">
    <!-- Categories from the database. -->
    <select ng-options="category as category.name for category in vm.categories" ng-model="selected">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <!-- User clicks to add a new recipe. -->
      <button ng-click = "vm.addRecipe()" >+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<!-- Displays when no recipes match category. -->
<div class = "grid-100 row" ng-show="(vm.recipes | filter:selected.name) < 1">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<!-- Recipes from db that match selected category. -->
<div ng-repeat = "recipe in vm.recipes | filter:selected.name" class="grid-100 row addHover">
  <!-- Routes the user to the Recipe Detail 
    screen when they click on a row. -->
  <a href="#!/edit/{{recipe._id}}">
    <div class="grid-70">
      <p>
        <strong>{{recipe.name}}</strong><br>
        {{recipe.description}}
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <!-- Routes the user to the Recipe Detail 
             screen when they click on the 'Edit' link. -->
          <a href="#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <!-- Deletes the recipe when the user clicks on the 'Delete' link. -->
          <a ng-click="vm.deleteRecipe(recipe.name, recipe._id)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
