<div class="grid-100 row controls">
  <div class="grid-50">
    <!--Displays recipe name when editing and 'Add New Recipe when adding.-->
    <h2 ng-hide="newRecipe" >{{vm.recipe.name}}</h2>
    <h2 ng-show="!vm.recipe.name">Add New Recipe</h2>
  </div>
  <div class="grid-50">
    <div class="flush-right">
      <!-- "Save Recipe" and "Cancel" buttons to handle user clicks. -->
      <button ng-click="vm.save()">Save Recipe</button>
      <button ng-click="vm.cancel()" class="secondary">Cancel</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<!-- Validation messages -->
<div ng-hide="!vm.errorMessage.length" class="grid-100 row">
  <div class="grid-100">
    <p><i>The following errors were found:</i></p>
    <ul class="validation-errors">
      <!-- li element repeats for each validation message that there is to display -->
      <li ng-repeat="userMessage in vm.errorMessage">
        <!-- Display the validation user message. -->
        {{userMessage}}
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Name </label>
    </p>
  </div>
  <div class="grid-40">
    <p>
      <input ng-model="vm.recipe.name" type="text">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>
  <div class="grid-60">
    <p>
      <textarea ng-model="vm.recipe.description"></textarea>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Category </label>
    </p>
  </div>
  <div class="grid-30">
    <p>
      <!-- Categories from the database. -->
      <select ng-options="category.name as category.name for category in vm.categories" ng-model="vm.recipe.category">
        <option value="">All Categories</option>
      </select>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Prep Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input ng-model="vm.recipe.prepTime" type="text">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Cook Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input ng-model="vm.recipe.cookTime" type="text">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Ingredients </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Item </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Condition </label>
    </p>
  </div>
  <div class="grid-15">
    <p class="label-spacing">
      <label> Amount </label>
    </p>
  </div>

  <!-- Recipe ingredients from db -->
  <div class="ingredient-row" ng-repeat="ingredient in vm.recipe.ingredients">
    <div class="prefix-20 grid-30">
      <p>
        <!-- Food Items from db. -->
        <select ng-options="foodItem.name as foodItem.name for foodItem in vm.foodItems" ng-model="ingredient.foodItem">
        <option value="">Select Item</option>
        </select>
      </p>
    </div>
    <div class="grid-30">
      <p>
        <input ng-model="ingredient.condition" type="text">
      </p>
    </div>
    <div class="grid-15">
      <p>
        <input ng-model="ingredient.amount" type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!-- Delete the recipe ingredient when the user clicks on the 'Delete' link. -->
        <a class="no-action-link" ng-click="vm.delete(vm.recipe.ingredients, $index)"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
      <!-- Add a new recipe ingredient. -->
      <button ng-click="vm.addIngredient()">+ Add Another Ingredient</button>
    </p>
  </div>

</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Steps </label>
    </p>
  </div>
  <div class="grid-75">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>

  <!-- Recipe steps from db -->
  <div ng-repeat="step in vm.recipe.steps" class="step-row">
    <div class="prefix-20 grid-75">
      <p>
        <input ng-model="step.description" type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!-- Delete the recipe step when the user clicks on the 'Delete' link. -->
        <a class="no-action-link" ng-click="vm.delete(vm.recipe.steps, $index)"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
      <!-- Add a new description step. -->
     <button ng-click="vm.addDescription()">+ Add Another Step</button>
    </p>
  </div>

</div>
<div class="clear"></div>
